.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000003d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 800px;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #383838;
    align-items: flex-start;
}

.modal-title {
    color: white;
}
