html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.delete-button {
    margin-top: 1.5rem;
    float: right;
    color: #af3e36;
    border-color: #af3e36;
}
.delete-button:hover {
    border-color: #f44336;
    background-color: #1a1919;
}
