.title {
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 25%;
    text-align: center;
}

.title-wrap {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn-switch {
    background-color: transparent;
    color: #ffb74d;
    cursor: pointer;
    outline-style: none;
    border: none;
}
