.info {
    height: 150px;
    overflow-y: scroll;
}

.info::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

.info {
    scrollbar-width: none;
}

.event-wrap {
    cursor: pointer;
}
