.btn-wrap {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}
.btn {
    margin-top: 1.75rem;
    text-transform: none;
}

.btn-cancel {
    color: #c4c4c4;
    border-color: #c4c4c4;
    margin-right: 1rem;
}

.hidden-field {
    visibility: hidden;
    height: 0;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.input {
    margin-top: 1rem;
}

.control {
    width: 80%;
}
